Lab5/4/employee.xsd

<xs:schema xmlns:xs="../XMLSchema">
<xs:element name="user">
<xs:complexType>
<xs:sequence>
<xs:element name="num" type="xs:string"/>
<xs:element name="title" type="xs:string"/>
<xs:element name="lastname" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="job" type="xs:string"/>
<xs:element name="address" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
